/**======================================================================
=========================================================================
Template Name: Datta Able Admin Template
Author: Codedthemes
supports: https://codedthemes.support-hub.io/
File: style.css
=========================================================================
=========================================================================
  == Table of Contents==
	- Generic classes
		-	Margin, Padding, Font class, text align, position, floating, overflow, background class, text color, display class, boarder class
	- Theme Elements
		-	Accordion, Button, tabs, typography, buttons, box shadow, Lable & Badges, Alert, Pagination, Breadcumb, Cards, Collapse,
        -   Carousel, Grid, Progress, Model, tooltip, popover, Datepicker, Gridstack, lightbox, notification, Nestable, pnotify, rating,
        -   Rangeslider, Slider, Syntax Highlighter, Tour, Treeview, Toolbar, Session Timeout, Session idle Timeout, offline, Animation
    - Forms
        -   Forms Elements, Advance Form Control, Validation, Masking, Wizard, Picker, Select
	- Pages
		-   Chat, authentication, Maintenance, Maps, Landingpage messages, task, Todo, Notes, Charts, Icons, Gallery, Editors,
        -   Invoice, Full Calender, File Upload,
=================================================================================
=================================================================================== */
@import "~bootstrap/dist/css/bootstrap";
// General theme contents
@import "partials/variables";
@import "partials/general";
@import "partials/generic";
@import "partials/mixins/function";

// important Element
@import "partials/menu/menu-lite";
@import "partials/widget/widget";

// Theme Element
@import "partials/theme-elements/form";
@import "partials/theme-elements/radiobox-checkbox";
@import "partials/theme-elements/labels-badges";
@import "partials/theme-elements/data-tables";
@import "partials/theme-elements/authentication";
@import "partials/theme-elements/button";
@import "partials/theme-elements/alert";
@import "partials/theme-elements/breadcrumb-pagination";
@import "partials/theme-elements/progress";
@import "partials/theme-elements/tooltip";
@import "partials/theme-elements/popover";
@import "partials/theme-elements/nav";
@import "partials/theme-elements/modal";
@import "partials/theme-elements/notes";
@import "partials/theme-elements/gallery-masonry";
@import "partials/theme-elements/gallery-advance";

@import "~fullcalendar-reactwrapper/dist/css/fullcalendar.min.css";

// Other
@import "partials/other/chat";
@import "partials/other/prism";
@import "partials/other/toolbar";
@import "partials/other/switches";
@import "partials/other/wizard";
@import "partials/other/chart";
@import "partials/other/icon-lauouts";
@import "partials/other/calendar";
@import "partials/other/file-upload";

@import "partials/layouts/dark";
@import "partials/layouts/rtl";

@import "partials/third-party/third-party";

table.dataTable.no-footer {
  border-bottom: none !important;
}

header.header-dark {
  @media (min-width: 992px) {
    .brand-logo-desktop {
      img {
        filter: invert(1);
      }
    }
  }
}
@media (max-width: 800px) {
  .portfolioHeader {
      margin-top: 7em!important;
  }
}

.pcoded-navbar {
  box-shadow: none;
}

.swal2-popup {
  .swal2-validation-message {
    margin-top: 15px;
  }
}

body {
  &:not(.datta-dark) {
    color: #6b6666;
    .table {
      color: #585858;
      &.table-bordered {
        td {
          border: 1px solid #ababab;
        }
        th {
          border: 1px solid #ababab;
          border-bottom: 1px solid #ababab !important;
        }
        thead {
          th {
            border: 1px solid #ababab;
            border-bottom: 1px solid #ababab !important;
          }
        }
      }
    }
    .rdl-filter {
      background: #f4f7fa;
      border: 1px solid #ced4da;
    }
  
    .rdl-control,.rdl-actions-right button,.rdl-actions-left button {
        background: #f4f7fa;
        border: 1px solid #ced4da;
        color: #495057;
    }
  }
}

[ui-pnotify].ui-pnotify {
  .brighttheme.ui-pnotify-container {
    .ui-pnotify-title {
      margin-bottom: 0;
    }
  } 
}

body.datta-dark {
  .navbar-collapse,.leaflet-popup-content-wrapper {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.37);
  }

  .filter-row {
    .css-vj8t7z {
      border-color: #adb7be;
      background-color: #323437!important;
    }
    .css-15k3avv {
      background-color: #323437;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.37);
    }
    .css-2o5izw {
      background-color: #323437;
      border-color: #323437;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
 
  .page-header {
    .css-vj8t7z {
      background-color: #323437;
    }
    .css-15k3avv {
      background-color: #323437;
    }
    .css-2o5izw {
      background-color: #323437;
      border-color: #323437;
    }
  }
  
  .bitcoin-wallet {
    i {
      &.icon-blue {
        color: #007bff;
      }
      &.icon-green {
        color: #28a745;
      }
      &.icon-red {
        color: #dc3545;
      }
      &.icon-purple {
        color: #a389d4;
      }
    }
  }

  .treeview {
    img[alt="SLDC"] {
      filter: invert(1);
    }
  }

  .inActive {
    background-color: #000000;
  }

  .highcharts-legend-item-hidden {
    text {
      fill: #6f6f6f !important;
    }
  }
  .highcharts-reset-zoom{
    .highcharts-button-box{
      fill: #323437;
      stroke: #3f4549;
    }
    text{
      fill: #cdd6dd !important;
    }
  }

  .dataTables_wrapper .dataTables_info {
    color: #c9d0d5 ;
  }
  
  .border-danger {
    border-color: #dc3545 !important;
  }

  .table-tooltip {
    background-color: #323437;
    .arrow {
      &:before {
        color: #323437;
        text-shadow: 0 2px 3px #212121;
      }
    }
  }

  .inv-tooltip,
  .smb-tooltip,
  .plant-tooltip {
    background-color: #323437;
    box-shadow: none!important;
    .popover-body {
      border: 1px solid #b3b3b3;
      border-radius: 4px;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.37)!important;
    }
    .arrow {
      &:before {
        color: #b3b3b3;
        text-shadow: none;
      }
    }
  }

  .btn-outline-dark,
  .btn-outline-secondary {
    color: #c9d0d5;
  }
  .dataTables_wrapper {
    .DTFC_LeftBodyWrapper {
      background-color: #323437;
    }
  }

  .highcharts-dial {
    fill: #adb7be;
  }

  .highcharts-pivot {
    fill: #adb7be;
  }

  .highcharts-label-box.highcharts-data-label-box {
    stroke: #2d2d2d;
  }

  .table {
    color: #c1c1c1;
    &.table-bordered {
      td {
        border: 1px solid #777777;
      }
      th {
        border: 1px solid #777777 !important;
        border-bottom: 1px solid #777777 !important;
      }
    }
  }

  .swal2-popup {
    background-color: #323437;
    .swal2-title {
      color: lighten($dark-layout-font, 15%);;
    }
    #swal2-content {
      color: lighten($dark-layout-font, 15%);;
    }
  }

  .brand-logo-desktop {
    img {
      filter: invert(1);
    }
  }

  .css-vj8t7z,
  .css-162g8z5 {
    background-color: #212224;
    color: #adb7be;
    border-color: #1a1a1c;
    .css-1492t68 {
      color: #adb7be;
    }
    .css-xp4uvy {
      color: #adb7be;
    }
  }

  .css-15k3avv {
    background-color: #212224;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.37);
    .select__option:not(.select__option--is-selected):not(.select__option--is-focused) {
      color: #adb7be;
    }
    .css-v73v8k {
      color: #adb7be;
    }
    .css-wqgs6e {
      color: #000000;
    }
  }

  .css-2o5izw {
    background-color: #282a2c;
    border-color: #1a1a1c;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    .css-1492t68 {
      color: #adb7be;
    }
    .css-xp4uvy {
      color: #adb7be;
    }
    .css-1g6gooi {
      color: #adb7be;
    }
  }

  .highcharts-grid-line {
    opacity: 0.1;
  }
  .data-report-popup .arrow::before{
    color:#52585f !important;
    text-shadow: none;
  }
  .highcharts-background {
    fill: #212224 !important;
  }
  
  .highcharts-tooltip-box {
    fill:#0d0d0d!important;
    opacity:0.5!important;
  }
 
  .highcharts-label.highcharts-tooltip>span{
    color: #adb7be !important;
  }
 
  // calender
  .daterangepicker .drp-calendar.left .calendar-table ,.daterangepicker .drp-calendar.right .calendar-table{
    background-color: #282a2c;
    border: 1px solid #282a2c;
  }
  .daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #357ebd!important;
  }
  .daterangepicker td.in-range {
    background-color: #323437;
  }

  .daterangepicker {
      background: #282a2c;
      border: 1px solid #535151;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.37);
  }

  .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
      color: #c9d0d5;
  }

  .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
      color: #535151;
      background: none!important;
  }

  .daterangepicker td.available:hover, .daterangepicker th.available:hover {
    background-color: #323437;
  }
  
  td.off.ends.active.end-date.in-range.available {
    background-color: none!important;
  }

  .daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
    border-radius: 0;
    display: inline-block;
    padding: 3px;
    border: solid #a6b0b7;
    border-width: 0 2px 2px 0;
  }
  .daterangepicker select.monthselect {
    background-color: #282a2c !important;
    color: #c9d0d5;
  }
  .daterangepicker .drp-buttons {
    border-top: 1px solid #3d3f40;
  }
  .daterangepicker .ranges li.active {
    color: #dcdfe3!important;
  }
  .daterangepicker select.yearselect {
      background-color: #282a2c !important;
      color: #c9d0d5;
  }

  .daterangepicker:after {
      border-bottom: 6px solid #282a2c;
  }
  .daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #357ebd!important;
  }

  .daterangepicker .ranges li,.daterangepicker .drp-selected {
      color: #c9d0d5;
  }

  .daterangepicker .ranges li:hover {
      background: #323437;
  }

  .daterangepicker.show-ranges.ltr .drp-calendar.left {
    border-left: 1px solid #535151;
  }
  .rdl-filter {
    background: #282a2c;
    border: 1px solid #1a1a1c;
    color: #adb7be;
  }
  .rdl-control,.rdl-actions-right button,.rdl-actions-left button {
      background: #282a2c;
      border: 1px solid #1a1a1c;
      color: #adb7be;
  }
  .change-password input{
    background-color: #282a2c!important;
  }
}
.header-dark .filter-plant {
  .css-vj8t7z {
    background-color: #212224!important;
  }
  .css-15k3avv {
    background-color: #212224!important;
  }
  .css-2o5izw {
    background-color: #212224!important;
    border-color: #212224!important;
  }
 
  .css-11unzgr div:hover,.css-wqgs6e {
    background: #323437;
    color: #fff !important;
  }
  .css-xp4uvy{
    color: #fff !important;
  }
} 

body {
  &:not(.datta-dark) {
    .css-2o5izw {
      border-color: #80bdff;
      background-color: #f4f7fa;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    .css-vj8t7z,
    .css-162g8z5 {
      background-color: #f4f7fa;
      border-color: #ced4da;
    }
    .change-password input{
      background-color: #f1f5f8!important;
    }
  }
  .header-dark .css-10nd86i.filter-plant {
    color:#fff !important;
  }
 
  .filter-row {
    .css-vj8t7z {
      border-color: #adb7be;
      background-color: #ffffff!important;
    }
    .css-15k3avv {
      background-color: #ffffff;
      box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.37);
    }
    .css-2o5izw {
      background-color: #ffffff;
      border-color: #ffffff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
  .page-header {
    .css-vj8t7z {
      background-color: #ffffff;
    }
    .css-15k3avv {
      background-color: #ffffff;
    }
    .css-2o5izw {
      background-color: #ffffff;
      border-color: #ffffff;
    }
  }
}

.react-selectError {
  .css-vj8t7z {
    border-color:  #dc3545 !important;
  }
  .css-2o5izw {
    border-color: #dc3545 !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
  }
}

.react-select-form {
  .css-2o5izw, 
  .css-vj8t7z,
  .css-162g8z5 {
    min-height: 43px;
  }
}

.highcharts-legend-series-active g.highcharts-series:not(.highcharts-series-hover),
.highcharts-legend-point-active .highcharts-point:not(.highcharts-point-hover),
.highcharts-legend-series-active .highcharts-markers:not(.highcharts-series-hover),
.highcharts-legend-series-active .highcharts-data-labels:not(.highcharts-series-hover) {
    opacity: 0.2;
}

.page-header{
  .css-vj8t7z {
    border-color: #007bff!important;
  }
}

.fullscreen {
  &.fullscreen-enabled {
    overflow-y: auto;
  }
}

.css-15k3avv {
  z-index: 9999 !important;
}


// PORTFOLIO PAGE CSS
.clr-box {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.clr-box-1 {
  background-color: #ff9933;
}

.clr-box-2 {
  background-color: #ffd966;
}

.clr-box-3 {
  background-color: #70ad47;
}

.clr-box-4 {
  background-color: #7f7f7f;
}

.clr-box-5 {
  background-color: black;
}

.clr-box-6 {
  background-color: white;
  border: 1px solid #000;
}

.plant-status-table td,
.plant-status-table th {
  padding: 8px;
  vertical-align: middle;
}

.stage_1, .stage_1 .avatar {
	background-color:#7f7f7f !important;
}

.stage_2, .stage_2 .avatar {
	background-color:#70ad47 !important;
}

.stage_3, .stage_3 .avatar {
	background-color:#a9d08e !important;
}

.stage_4, .stage_4 .avatar {
	background-color:#ffd966 !important;
}

.stage_5,.stage_5 .avatar {
	background-color:#ff9933 !important;
}
   
.stage_6, .stage_6 .avatar {
	background-color:#ff5050 !important;  
}

.stage_7, .stage_7 .avatar {
	background-color:#cc0000 !important;
}

.stage_8, .stage_8 .avatar {
	background-color:#ccffff !important;
}

.stage_9, .stage_9 .avatar {
	background-color:#737373 !important;
}

.default, .default .avatar {
	background-color:black !important;
}

.wrapper_t {
  background: #ececec;
  color: #555;
  cursor: pointer;
  font-size: 12px;
  margin: 2px;
  width: 34px;
  height: 34px;
  border-radius: 4px;
  float: left;
  padding: 5px;
  position: relative;
  text-align: center;
}

a.outer_div_link {
  height: 34px;
  float: left;
  width: 34px;
  border-radius: 3px;
  opacity: 0;
}

.popover-body {
  color: inherit !important;
}

.blackOutline {
  background-color: white !important;
  border: 1px solid !important;
  border-color: black !important;
}

.smb-panels {
  .tab-content {
    padding: 0;
  }
}

.date-ranger {
  padding: 5px 0 5px 10px;
  border: 1px solid #51cc9e;
  margin-left: 0;
  background: #65cea7;
  color: #fff!important;
  border-radius: 4px;
  min-width: 125px!important;
  cursor: pointer;
}

.smb-graph,
.inverter-graph {
  select.form-control:not([size]):not([multiple]) {
    height: calc(2.20rem + 2px);
  }
}

.smb-graph,
.inverter-graph {
  .custom-select, .form-control {
    padding: 5px 10px;
  }
}

.dataTables_wrapper .dataTables_paginate {
  padding-top: 1em;
}

.dataTables_wrapper .dataTables_length {
  padding-top: 1em;
}

.dataTables_wrapper .dataTables_info {
  padding-top: 1em;
}

// Color squares
.square {
  height: 34px;
  width: 34px;
  border-radius: 4px;
  margin: 2px;
  float: left;
  cursor: pointer;
}

.legend-pill {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.green {
  background-color: #7CA550 !important;
}

.light-green {
  background-color: #A9D08E !important;
}

.yellow {
background-color: #FFFF00 !important;
}

.light-yellow {
  background-color: #FFD966 !important;
}

.light-orange {
  background-color: #FF8000 !important;
}

.dark-orange {
  background-color: #FF0808 !important;
}

.red {
  background-color: #CC0000 !important;
}

.default {
  background-color: #000000 !important;
}

.light-green {
  background: #a9d08e !important;
}

.inActive {
  background: #000000 !important;
}

.exclamation {
  color: #000000;
  font-size: 16px!important;
  padding: 8px;
}

// Leaflet Styles

.leaflet-container {
  font-family: "Open Sans", sans-serif;
}

@-webkit-keyframes bounce {
	0%,20%,40%,60%,80%,100% {
		-webkit-transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-5px);
	}
}

@keyframes bounce {
	0%,20%,40%,60%,80%,100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
}

.mapIcon {
	height: auto !important;
	margin-top: -30px !important;
}

.leaflet-popup-content {
	width: 365px !important;
	overflow-x: auto;
}

.bounce {
	-webkit-animation-name: bounce;
	animation-name: bounce;
}

.leaflet-popup-content-wrapper {
  border-radius: 2px !important;
}

.leaflet-container a {
  color: #0078A8!important;
}


//Plant tootip
.plant-tooltip {
  .popover-body {
    padding: 1px;
  }
}

// Portfolio page card style
.bitcoin-wallet {
  i.fa {
    color: #FFFFFF;
  }
}

// Cursor 
.cursor {
  cursor: pointer;
}
.vertical-center{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.user-select{
  user-select: none;
}
.transparent-bg .card {
  background-color:transparent!important;
  color: #fff!important;
}
.login-footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.password_show {
  right: 8px;
  padding: 0px 8px;
  font-size: 18px;
  position: absolute;
  margin-top: 4px;
  z-index: 10;
  color: #000000;
}
.auth-wrapper.transparent-bg.user-select {
  position: inherit;
}
form#userLogin input.form-control{
  border-color: #fff!important;
  background-color: #265471!important;
  color: #fff!important;
  border-radius: 4px;
  text-align: center!important;
  height: 34px !important;
  font-size: 13px !important;
}
form#userLogin .input-group{
  background: none!important;
}

// .user-select .auth-content{
//   width: 23%!important;
// }

.particle-body{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.particle-body canvas {
position: absolute;
}
.daterangepicker {
  color: #343a40 !important;
}

.feedback{
  bottom: 25%;
  right: -29px;
  transform: rotate(90deg);
  letter-spacing: 1px
}
/* Datatable css */
table.dataTable thead .sorting {
  background-position: center right -5px;
}

.highcharts-menu {
  box-shadow: rgb(136, 136, 136) 1px 1px 3px !important;
}
.navbar-collapse {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.37);
}

.highcharts-tooltip{
  span{
    max-height:100px;
    pointer-events: auto !important;
    overflow-y: auto;
  }
  ::-webkit-scrollbar
  {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb
  {
    background-color:#757778;
    border-radius: 4px;
  }
}

// bootstrap datatable required styles for dark background
body.datta-dark .react-bs-container-body > table > tbody > tr > td:nth-child(1),body.datta-dark .react-bs-container-header > table > thead > tr:nth-child(1) > th:nth-child(1), body.datta-dark .Sticky{
  background-color: #323437!important;
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  z-index: 2;
}
.react-bs-table-container .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.react-bs-table-container .dropup .caret, .navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid\9;
}

/* Inverter Rankings page css */
.greenCard{
  background-color:#4CAF50!important;
}
.purpleCard{
  background-color:#a389d4;
}
.blueCard{
  background-color: #3F51B5;
}
.grayCard{
  background-color:#607D8B!important;
}
.orangeCard{
  background-color: #F4511E!important;
}
.yellowCard{
  background: #ff9f1a!important
}
.redCard{
  background-color: #ff3838!important;
}
.skyblueCard{
  background-color: #2196F3;
}
.bg-black{
  background-color:#313133;

}
.inverterRanking small {
  letter-spacing: 0.5px;
}
.no-gutter .rema-cs-xs {
  height: 76px;
}
.scroll>.panel-body{
  height: 685px;
  overflow: auto;
}
/* Datatable css */
table.dataTable thead .sorting {
  background-position: center right -5px;
}
.react-bs-table-pagination .dropdown-toggle::after {
  display:none
}

.icon-bell-animate {
	animation-name: ring;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes ring {
	0% {
		transform: translate(-50%, -50%);
	}
	5%, 15% {
		transform: translate(-50%, -50%) rotate(25deg);
	}
	10%, 20% {
		transform: translate(-50%, -50%) rotate(-25deg);
	}
	25%  {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
}

