.wrapper_d {cursor: pointer;position: relative;text-align: center;}

.wrapper_d .tooltip_w {

  bottom: 100%;
  display: block;
  left: -110px;
  margin-bottom: 15px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 365px;
  transform: translateY(10px);
  transition: all .25s ease-out;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

.wrapper_d .tooltip_w:before {
  bottom: -10px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

.wrapper_d .tooltip_w:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #f1f1f1 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 29%;
  position: absolute;
  width: 0;
}
.PopOver .userWidget-1 .avatar img {
    border-radius: 0px;
}
.wrapper_d:hover .tooltip_w {
  opacity: 1;
  z-index: 9999;
  pointer-events: auto;
  transform: translateY(0px);
}
.wrapper_d .popup{
	left: -200px;
    position: relative;
}
.wrapper_d .tooltip_w {
    box-shadow: -200px 2px 6px rgba(0, 0, 0, 0.28);
}

/*** tooltip_w ***/
div#content {
  overflow: inherit !important;
  overflow-x: hidden;
}


tr.activegreen {
  background-color: #36C175 !important;
}

tr.activegreen * {
  color: #fff !important;
}

tr.inactivered {
  background-color: #e23139  !important;
}

tr.inactivered * {
  color: #fff !important;
}

.leftHalf img {
  position: relative;
  display: block;
  width: 100%;
  opacity: 1;
min-height: 160px;
}h2.TablePlantName {
  font-weight: bold;
  font-size: 20px;
  line-height: 16px;
  text-decoration: none;
  color: #f9ff00 !important;
}.figType {
  font-size: 10px;
  line-height: 11px;
  color: #fff;
  padding: 2px 5px;
  border-radius: 2px;
  position: absolute;
  left: 12px;
  top: 40px;
  min-width: 40px;
  text-transform: uppercase;
  z-index: 3;
}.active {
  background-color: #ffffff;
  color: #2ecc71 !important;
}.figure {
position: relative;
  z-index: 1;
}.m-t{
margin-top: 14px !important;
}.m-b{
margin-bottom: 3px;
}.portfolio_dt td {
  padding: 0px 0px !important;
  font-size: 12px !important;
  min-width: 98px;
  height: 33px !important;
  text-align: center;
  border: 1px lavender solid !important;
}


span.tip.PopOver {
  background: #fff !important;
  border: 1px solid #d8c1c1;
  min-width: 410px;
  left: -130%;
  padding: 0px !important;
  z-index: 9999;
  box-shadow: -1px 2px 9px rgba(0, 0, 0, 0.4);
  bottom: 60px !important;
  border-radius: 3px !important;
}

span.PlantImg {
  float: left;
  width: 10%;
}

span.PlantName {
  width: 90%;
  float: left;
  font-size: 21px;
  line-height: 35px;
  color: black;
  font-weight: 500;
}span.PlantStatus {
  font-size: 16px;
  width: 80%;
  float: left;
  line-height: 17px;
}span.PlantStatus b {
  font-size: 16px;
  font-weight: 500;
color: darkred;
}span.row {
  width: 100%;
  float: left;
}

sup {
  top: -3px;
  position: relative;
}.row {
  width: 100%;
  float: left;
}


/* HJ */

.userWidget-1 {
  display: block;
  background-color: #ffffff;
  text-decoration: none;
  overflow: hidden;
  z-index: 10;
  font-size: 12px;
  border-radius: 3px;
  position: relative;
}
.userWidget-1 .avatar {
  width: 100%;
  height: 50px;
  border-radius: 0px 0px 0px 0px;
  position: relative;
}
.userWidget-1 .avatar > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 10px;
  border: 2px solid #fff;
}
.userWidget-1 .avatar > a > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  top: 10px;
  left: 10px;
  border: 2px solid #fff;
}
.userWidget-1 .avatar .name {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  z-index: 6;
  left: 93px;
  bottom: 5px;
}
.leaflet-popup-content .avatar.blackOutline .name.osLight a{
  color: black;
}
.userWidget-1 .avatar .ops {
  position: absolute;
  z-index: 7;
  top: 10px;
  right: 10px;
}
.userWidget-1 .title {
  margin-left: 90px;
  padding-top: 5px;
  margin-top: 2px;
  padding: 0px;
  text-align: left;
}
.userWidget-1 .address {
  margin-left: 95px;
  padding-top: 3px;
  font-size: 11px;
  margin-top: 3px;
  line-height: 11px;
  color: #999;
  font-style: italic;
  text-align: left;
}
.userWidget-1 .rating {
  width: 25%;
  float: left;
  text-align: center;
  margin-top: 10px;
  padding: 10px 0px;
  border-top: 1px solid #e8e8e8;
}
.userWidget-1 .rating .number {
  font-size: 30px;
  line-height: 30px;
  color: #0eaaa6;
  letter-spacing: -3px;
}
.userWidget-1 .rating .stars {
  text-align: center;
}
.userWidget-1 .rating .stars ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.userWidget-1 .rating .stars ul li {
  float: left;
  margin-right: 1px;
  line-height: 16px;
}
.userWidget-1 .rating .stars ul li span {
  color: #eab134;
  font-size: 11px;
  line-height: 11px;
}
.userWidget-1 .rating .stars .reviews {
  font-size: 10px;
  color: #999;
  line-height: 10px;
}
.userWidget-1 ul.stats {
  list-style-type: none;
  margin: 10px 0 0 0 !important;
  padding: 0;
  width: 75%;
  float: left;
  border-top: 1px solid #e8e8e8;
}
.userWidget-1 ul.stats li {
  width: 25%;
  float:left;
  text-align: center;
  font-size: 9px;
  line-height: 10px;
  color: #999;
  border-left: 1px solid #e8e8e8 !important;
  padding: 7px 0;
}
.PopOver .userWidget-1 ul.stats li {
  width: 33%;
}
.userWidget-1 ul.stats li span {
  display: block;
  margin-bottom: 4px;
  font-size: 15px;
  line-height: 18px;
  color: #333;
}
.PlantStat {
  font-size: 10px;
  color: #fff;
  padding: 2px 5px;
  border-radius: 2px;
  text-transform: uppercase;
  z-index: 3;
}
ul.stats.data {
  width: 100%;
  margin: 0px;
}.popover-content {
  padding: 0px;text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}
.popover {
  min-width: 339px;
}
.active .PlantStat {
  background-color: #ffffff;
  color: #2ecc71 !important;
}
.inactive .PlantStat {
  color: #c0392b !important;
  background-color: #fff;
}
.idle .PlantStat {
  color: #f1c40f !important;
  background-color: #ffffff;
}
.active .avatar {
  background-color: #7ca550;
}
.inactive .avatar {
  background-color: #ff5722e8;
}
.idle .avatar {
  background-color: #f1c40f;
}

.hide{
  display: none;
}


.user-status-info li span.online, .user-status-info li span.offline {
  float: right;
  z-index: 9999;
  margin: 0px !important;
}

.user-status-info li {
  margin-top: 0px;
}

.user-status-info {
  width: 81%;
  margin-left: 2%;
}

.user-img {
  width: 17%;
}
/**
* Demo styles
* Not needed for tooltip_ws to work
*/

.wrapper_t {
/* text-transform: uppercase; */  
background: #ececec;
color: #555;
cursor: pointer;
font-size: 12px;
margin: 2px;
width: 34px;
height: 34px;
border-radius: 4px;
float:left;
padding: 5px;
position: relative;
text-align: center;
}

.wrapper_t .tooltip_w {
/* background: #1496bb; */
bottom: 100%;
/* color: #fff; */
display: block;
left: -285%;
margin-bottom: 15px;
opacity: 0;
/* padding: 20px; */
pointer-events: none;
position: absolute;
width: 365px;
transform: translateY(10px);
transition: all .25s ease-out;
box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}


.wrapper_t .tooltip_w:before {
bottom: -10px;
content: " ";
display: block;
height: 20px;
left: 0;
position: absolute;
width: 100%;
}


.wrapper_t .tooltip_w:after {
border-left: solid transparent 10px;
border-right: solid transparent 10px;
border-top: solid #f1f1f1 10px;
bottom: -10px;
content: " ";
height: 0;
left: 29%;
position: absolute;
width: 0;
}
.PopOver .userWidget-1 .avatar img {
  border-radius: 0px;
}
.wrapper_t:hover .tooltip_w {
opacity: 1;
z-index: 9999;
pointer-events: auto;
transform: translateY(0px);
}
a.outer_div_link {
  height: 34px;
  float:  left;
  width: 34px;
  border-radius: 3px;
  opacity: 0;
}
.userWidget-1 .address {
  float:  left;
  width: 100px;
  margin: 0px 0% 0px 25%;
}

.userWidget-1 .address_r {
  margin-right: 1%;
  width: 40%;
  text-align: right;
}

.danger_grid .address_r{
  color: #999;
}
.success_grid .address_r {
  color: #999 !important;
}

/* Grid colors */
.boxsize{
	margin:2px;max-width: 34px;height: 34px;border-radius: 3px;
}
.extreme_danger_grid{
	background-color:#ff5722e8;
}
.danger_grid{
	background-color:#ff7622db;
}
.issue_grid{
	background-color:#f6b105c2;
}
.success_grid{
	background-color:#7ca550;  
}


.stage_1, .stage_1 .avatar{
	background-color:#7f7f7f!important;
}

.stage_2, .stage_2 .avatar{
	background-color:#70ad47!important;
}

.stage_3, .stage_3 .avatar{
	background-color:#a9d08e!important;
}

.stage_4, .stage_4 .avatar{
	background-color:#ffd966!important;
}

.stage_5,.stage_5 .avatar{
	background-color:#ff9933!important;
}
   
.stage_6, .stage_6 .avatar{
	background-color:#ff5050!important;  
}
.stage_7, .stage_7 .avatar{
	background-color:#cc0000!important;
}
.stage_8, .stage_8 .avatar{
	background-color:#ccffff!important;
}
.stage_9, .stage_9 .avatar{
	background-color:#353131!important;
}

.default, .default .avatar{
	background-color:#353131!important;
}

.default_b {
  border: 1px solid #353131;
}


.blackOutline, .blackOutline .avatar{
  background-color: white!important;
  border:1px solid !important;
  border-color: black!important;
}
.cards .userWidget-1 {
  border-radius: 1px!important;
}

.cards .stage_1_b{
	border:1px solid #7f7f7f;
}

.cards .stage_2_b{
	border:1px solid #70ad47;
}

.cards .stage_3_b{
	border:1px solid #a9d08e;
}

.cards .stage_4_b{
	border:1px solid #ffd966;
}

.cards .stage_5_b{
	border:1px solid #ff9933;
}
   
.cards .stage_6_b{
	border:1px solid #ff5050;  
}
.cards .stage_7_b{
	border:1px solid #cc0000;
}
.cards .stage_8_b{
	border:1px solid #ccffff;
}
.cards .stage_9_b{
	border:1px solid #353131;
}

.cards .blackOutline_b{
	border:1px solid black;
}

.boxsize1{
	margin:2px;max-width: 20px;height: 20px;border-radius: 3px;padding: 0px;
}
.boxsize2{
	margin:2px;max-width: 100px;height: 100px;border-radius: 3px;
}

.danger_grid1{
	/*background-color:#fe2400c7;*/
	background-color: #ff0000db;
}
.danger_grid1_high{
	background-color:#FE2400;

}
.danger_grid1_medium{
	/*background-color:#FE2400; */
	/*background-color: #E91818*/
	background-color:#e91818cf;
}

.issue_grid1{
	background-color:#FF8600;

}
.success_grid1_low{
	/*background-color:#00D717;*/
	background-color: #27c24c;
}
.success_grid1{
	background-color:#00D717;

}
.success_grid1_medium{
	background-color:#48AD01;

}

.warning_grid1_low{
	background-color: #ffeb3b;
}
.warning_grid1_medium{
	background-color: #f3f608c7;
}
.warning_grid1_high{
	background-color: #ffff00;
}

/* ---treeview css--- */

.scrollbar
{
	margin-left: 0px;
	float: left;
	height: 600px;
	width: 100%;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}

/* ---map css--- */
.small-map {
  width: 100%;
  height: 640px;
  float: left;
  margin: 0px auto;
}
.paWrapper {
  padding: 10px 10px 0 10px;
}
/* -----tooltip info button css-------  */

.gtr12,.clr11-12,.clr9-10,.clr6-8,.clr3-5,.clr0-2,.clr-nc,.clr-black{
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}
.blackOutlineLegend{
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border:1px;
  border-style: solid;
  border-color: black;
}
.gtr12{
	background-color: #cc0000;
}
.clr11-12{
	background-color: #ff5050;
}
.clr9-10{
   background-color: #ff9933;
}
.clr6-8{
	background-color: #ffd966;
}
.clr3-5{
   background-color: #a9d08e;
}
.clr0-2{
	background-color: #70ad47;
}
.clr-nc{
	background-color: #7f7f7f;
}
.clr-black{
	background-color: #353131;
}
.blackOutlineLegend{
  background-color: white;
}

.plantColor{
  color: black!important;
}

.btn-sm{
  position: relative!important;
  padding: 8px 10px!important;
  top: 1px!important;
}